In [2]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path, 並讀取 app_train
dir_data = 'D:/第二屆機器學習馬拉松/home-credit-default-risk/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [5]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [10]:
#若()內直接使用sub_train，最後結果欄位名稱會是WEEKDAY_APPR_PROCESS_START_MONDAY等名稱
ohe_st = pd.get_dummies(sub_train['WEEKDAY_APPR_PROCESS_START'])
#把欄位順序更改為星期一到日，若不需要可以註解
ohe_st = ohe_st[['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']]
ohe_st.head()

   MONDAY  TUESDAY  WEDNESDAY  THURSDAY  FRIDAY  SATURDAY  SUNDAY
0       0        0          1         0       0         0       0
1       1        0          0         0       0         0       0
2       1        0          0         0       0         0       0
3       0        0          1         0       0         0       0
4       0        0          0         1       0         0       0